    <!-- Generated: <%= (new Date()).getTime() %> -->
    <!doctype html> 
    <html lang="en">
    <head>
    	<meta charset="utf-8"> 
    	<title>Rafael Gandionco</title>
    	<meta name="description" content="rafael gandionco website portfolio web development photography @rafaelgandi photographer filipino street photography streetphotography rafaelgandi gandi rafael developer cebu philippines asia minimalist minimalism cholo ðŸ¶ðŸ’š" />
    	<meta name="author" content="rafael gandionco" />
    	<meta name="msapplication-tap-highlight" content="no" />
    	<meta name="theme-color" content="#8E9A9C">
    	<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<%- fbMeta %>
    	<!-- See: http://debugfix.com/2011/11/android-browser-css-position-fixed-bug-solved/ -->
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    	<!-- https://photos.app.goo.gl/GUWrbDCsQtn28T3t6 -->
    	<link rel="shortcut icon" href="images/to_Cholo_the_best_dog_in_the_world__thank_you_for_your_unconditional_love__we_love_and_miss_you_soo_much__06-19.ico??v20200405" class="We love and miss you Cholo ðŸ• 2006-2019" />	
		<%- analytics %>
		<!-- Need to place polyfill.io on head because sometimes this causes an error if i dont Â¯\_(ãƒ„)_/Â¯ -->
    	<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2Ces2016%2Ces2017%2Ces2018"></script>
        <%- globalCSS %>
        <%- panicOverlayScript %>		
    </head>
    <body>
    	<main id="root"></main>  
        <%- globalJS %>
    </body>
    </html>